ul li:first-child a {
    color:red;
}

ul li:nth-child(2) a {
    color:red;
}

ul li:last-child a {
    color:red;
}

div {
    border-style: solid;
    border-width: 1px;
    border-color: black;
} 

#different a {
   color: #C55;
}

div a {
    color: green;
}

.table {
    border-style: solid;
    border-color: #66ff99;
    background-color: #e0e0eb;
    list-style-type: square;
}

* {
    font-family: Great Vibes, cursive;
}

p {
    font-family: Amatic SC, cursive;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
}

