li a {
    color: #ff0066;
    padding: 5px;
    text-decoration: none;
    padding: 2px 0px;
    }
li a:hover {
    color: #eeeeee;
}

.nav {
    float: left;
}
.section1 p{
    float: right;
    width: 90%;
}

.section2 {
    float: right;
    width: 90%;
}

.section3 {
    float: right;
    width: 90%;
}

.footer {
    text-align: center;
    width: 90%;
    clear: both;
    bottom: 0px;
}